
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/.qmake.stash
#*.stash
#PP/build-Lab2-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/Lab2.exe
#PP/build-Lab2-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Debug
#PP/build-Lab2-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Release
#PP/build-Lab3-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/main.o
#PP/build-Lab3-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Debug
#PP/build-Lab3-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile
#PP/build-Lab3-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/Lab3.exe
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/Lab4.exe
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/main.o
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Debug
#PP/build-Lab3-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Release
#PP/build-Lab4-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Release
#PP/build-Lab2-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile
#PP/build-Lab2-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/main.o
