# Default ignored files
/shelf/
.idea/
venv/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Coding\Projects\LNU\DS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
